
/* 
1. kellő távolság legyen a beviteli mezők között és a mezőkben
2. elég nagy legyen az input mező
3. label ne legyen egy sorban az inputtal
4. label és az input össze legyen kötve (lást label for="")
5. minden képernyőméreten ugyanúgy használható legyen
6.rendezett legyen legyen egy vonalban
7. lehessen tabolni (ha formban van benne akkor lehet)
8. logikus sorrend legyen
9. aktuális input mező kiemelkedjen
10. gomb legyen hangsúlyos
11. legyen megn
12. fontválasztás 
*/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

#form {
  background-color: rgb(132, 182, 248);
  height: 300px;
  width: 500px;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} 

input {
  margin: 4px;
  padding: 3px;
  border: transparent 1px solid;
  border-radius: 10px;
}

button {
  cursor: pointer;
  height: 2rem;
  width: 5rem;
  padding: 3px;
  border: rgb(22, 27, 36) 2px solid;
  border-radius: 10px;

  &:hover{
    background-color: rgba(156, 235, 221, 0.788);
  }
}

div:nth-child(5), div:nth-child(6) {
  font-size: 0.7rem;
}
